/target
*.vscode
*.idea
/tps
crab-excel/*.xlsx
*.log

crab-ui/.DS_Store
crab-ui/node_modules
crab-ui//dist
crab-ui/.env.local
crab-ui/.env.*.local
crab-ui/npm-debug.log*
crab-ui/yarn-debug.log*
crab-ui/yarn-error.log*
crab-ui/*.suo
crab-ui/*.ntvs*
crab-ui/*.njsproj
crab-ui/*.sln
crab-ui/*.sw*
crab-ui/package-lock.json
crab-ui/yarn.lock
