<!DOCTYPE html>
<html>

<head>
  <title>index</title>
  <link rel="stylesheet" type="text/css" href="./bulma.min.css">
</head>

<body>
  <form class="box" method="post" action="./test">
    <div class="field is-grouped">
      <p class="control is-expanded">
        <input id="keyword" name="keyword" class="input" type="text" placeholder="Find a repository">
        <input type="color">
      </p>
      <p class="control">
        <a class="button is-info">
          Search
        </a>
      </p>
      <button type="submit">Submit</button>
    </div>
  </form>


</body>

</html>